<template>
  <div id="app" class="container">
    <div class="row">
      <div class="col-md-10 m-5">
        <h2>Cadastro</h2>
      </div>
    </div>
    
    <hr>
    <form @submit.prevent="addUser">
      <div class="row">
        <div class="col-md-10 m-5">

          <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control" readonly v-model="UserObj.userId">
          </div>

          <div class="form-group">
            <label>Primeiro Nome</label>
            <input type="text" class="form-control" v-model="UserObj.firstName">
          </div>
          <div class="form-group">
            <label>Ultimo Nome</label>
            <input type="text" class="form-control" v-model="UserObj.lastName">
          </div>

          <div class="form-group">
            <label>Idade</label>
            <input type="number" class="form-control" v-model="UserObj.age">
          </div>

          <input v-if="!showUpdateBtn" type="submit" class="btn btn-success" value="Cadastrar">

          <input v-if="showUpdateBtn"  type="button" class="btn btn-success" value="Update" @click="updateUser">

        </div>
      </div>
    </form>

    <hr>

    <table class="table table-striped table-borderless">
      <thead>
        <tr>
          <th>ID</th>
          <th>Primeiro Nome</th>
          <th>Ultimo Nome</th>
          <th>Idade</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="users in allUsersArr" :key="users.userId">
          <td>{{users.userId}}</td>
          <td>{{users.firstName}}</td>
          <td>{{users.lastName}}</td>
          <td>{{users.age}}</td>
          <td><button type="button" class="btn btn-info" @click="editUser(users.userId)">Editar</button></td>
          <td><button type="button" class="btn btn-danger" @click="deleteUser(users.userId)">Deletar</button></td>
        </tr>
      </tbody>
    </table>

  </div>

</template>


<script>

  import axios from 'axios';

export default {
  name: 'app',
  data(){
    return {
      UserObj: {
        userId : '',
        firstName : '',
        lastName : '',
        age : '',
      },
      allUsersArr: [],
      showUpdateBtn : false
    }
  },
  methods: {

    addUser(){
      return axios.post('http://localhost:8084/save',this.UserObj).then(resp => {
        console.log(resp);
        this.getAllUsers();
      }).catch(error => {
        console.log(error);
      })
    },

    editUser(userid){
      return axios.get('http://localhost:8084/find/'+userid).then(resp => {
        this.UserObj = {
          userId: resp.data.userId,
          firstName: resp.data.firstName,
          lastName: resp.data.lastName,
          age: resp.data.age
        }
        this.showUpdateBtn = true;
      }).catch(error => {
        console.log(error)
      })
    },

    updateUser() {
      return axios.put('http://localhost:8084/update',this.UserObj).then(resp => {
        console.log(resp);
        this.getAllUsers();
        this.UserObj = {};
        this.showUpdateBtn = false;
      })
    },

    getAllUsers(){
      return axios.get('http://localhost:8084/all').then(resp => {
        this.allUsersArr = resp.data;
      }).catch(error => {
        console.log(error)
      })
    },

    deleteUser(userId){
      return axios.delete('http://localhost:8084/find/'+userId).then(resp => {
        console.log(resp);
        this.getAllUsers();
      }).catch(error => {
        console.log(error)
      })
    }
  },

  created() {
    this.getAllUsers();
  }
}
</script>

<style>
#app {

}
</style>